"web_app": {
    "class": "Application",
    "template": "http",
    "serviceMain": {
        "class": "Service_HTTP",
        "virtualAddresses": [
            "{{virtual_ip}}"
        ],
        "pool": "app_pool"
    },
    "app_pool": {
        "class": "Pool",
        "monitors": [
            "http"
        ],
        "members": [
        {
          "servicePort": {{ port_worker1 }},
          "serverAddresses": [
              "10.163.12.104"
          ]
        },
        {
          "servicePort": {{ port_worker2 }},
          "serverAddresses": [
            "10.163.12.105"
          ]
        },
        {
          "servicePort": {{ port_worker3 }},
          "serverAddresses": [
            "10.163.12.106"
          ]
        },
        {
          "servicePort": {{ port_worker4 }},
          "serverAddresses": [
            "10.163.12.107"
          ]
        },
        {
          "servicePort": {{ port_worker5 }},
          "serverAddresses": [
            "10.163.12.108"
          ]
        },
        {
          "servicePort": {{ port_worker6 }},
          "serverAddresses": [
            "10.163.12.109"
          ]
        }
      ]
    }
}
