"web_app": {
    "class": "Application",
    "template": "http",
    "serviceMain": {
        "class": "Service_HTTP",
        "virtualAddresses": [
            "{{private_ip}}"
        ],
        "pool": "app_pool"
    },
    "app_pool": {
        "class": "Pool",
        "monitors": [
            "http"
        ],
        "members": [
        {
          "servicePort": 6060,
          "serverAddresses": [
              "10.163.12.104"
          ]
        },
        {
          "servicePort": 6161,
          "serverAddresses": [
            "10.163.12.105"
          ]
        },
        {
          "servicePort": 6262,
          "serverAddresses": [
            "10.163.12.106"
          ]
        },
        {
          "servicePort": 6363,
          "serverAddresses": [
            "10.163.12.107"
          ]
        },
        {
          "servicePort": 6464,
          "serverAddresses": [
            "10.163.12.108"
          ]
        },
        {
          "servicePort": 6565,
          "serverAddresses": [
            "10.163.12.109"
          ]
        }
      ]
    }
}
